<link rel="stylesheet" type="text/css" href="style.css" />

<h1>Thanks For Visiting Our App.
    Please sign up or sign in to enjoy your favorite songs
</h1>

<div class="buttonContainer">
    <a class="button add font" href="/signUp">Sign up</a>
</div>






