<link rel="stylesheet" type="text/css" href="signUpPage.css" />

<Div class="signUpContainer">

    <div class="darkGrey"></div>

    <div class="lightGrey">
    
        <i class="bi bi-person-circle"></i>
    
        <form class="form" action="/signUp" method="POST">
            <div class="inputParent">
                <input class='input font' type='text' name='firstName' placeholder="First Name"/>
                <input class='input font' type='text' name='middleName' placeholder="Middle Name"/>
                <input class='input font' type='text' name='lastName' placeholder="Last Name"/>
                <input class='input font' type='text' name='gender' placeholder="Gender"/>
                <input class='input font' type='text' name='email' placeholder="E-mail"/>
                <input class='input font' type='password' name='password' placeholder="Password"/>
            </div>
        
            <input class='button font submit' type="submit" />
            <a  class='button font cancel' href="/">Cancel</a>
        </form>
    
    </div>

</Div>



