h1 {
    color: aliceblue;
    text-align: center;
    font-size: 5vw;
    display: flex;
    justify-content: center;
    position: relative;
    top: -3vh;
}

thead {
    font-size: 3vw;
    background-image: linear-gradient(rgb(188, 183, 183), rgb(5, 5, 0), rgb(119, 122, 119));
    color: yellow;
}

.actionButtons {
    display: grid;
    grid-template-columns: 40% 20%;
    gap: 2px;
}

#actionEdit {
    font-size: 2vw;
    padding: 8px 5px;
}

#actionEdit:hover {
    background-image: linear-gradient(rgb(15, 1, 1), rgb(9, 149, 30), rgb(15, 16, 15));
}

#actionDelete {
    font-size: 2vw;
    padding: 8px 5px;
}

#actionDelete:hover {
    background-image: linear-gradient(rgb(15, 1, 1), rgb(233, 20, 37), rgb(15, 16, 15));
}

.doneButton {
    font-size: 2vw;
    position: relative;
    left: 50%;
}

.doneButton:hover {
    background-image: linear-gradient(rgb(15, 1, 1), rgb(24, 54, 224), rgb(15, 16, 15));
}

.accounts {
    font-size: 2vw;
    display: flex;
    align-content: center;
    margin: 0 auto;
}

.editSubmitButtons {
    display: flex;
    justify-content: right;
}

.option {
    padding: 122px;
}

.image {

    background-image: url("images/newHomeImage.png");
    background-repeat: no-repeat;
    background-position: center center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 100vh;
    margin: 0 1vw;
}

.body{
    position: relative;
    top: 15vh; 
}

body {
    background-color: rgb(0, 7, 8);
}