.label {
   font-size: 2vw;
   color: yellow;
   position: relative;
   right: 1vw;
}

.form {
   width: fit-content;
   position: relative;
   top: 12vh;
   left: 25vw;
}

h1 {
   color:lightgray;
   font-size: 4vw;
   position: relative;
   right: 25%;
}

/* labels and input boxes container */
.containerParent{
   position: relative;
}

/* input boxes width */
.input{
   width: 40vw; 
}

/* Both submit and cancel buttons */
.submitAndCancelButtons{
   display: flex;
   justify-content: space-around;
   position: relative;
   top: 3vh;
}

body {
   background-color: rgb(9, 82, 30);
  font-size: 1.5vw;
  padding: 5vh 5vw 5vh 10vw;
}

.submitButton{
  font-size: 1.5vw;
  padding: 2%;
  width: 120%;
  position: relative;
  left: -10vw;
}

.cancelButton{
   font-size: 1.5vw;
   padding: 2%;
   width: 120%;
   position: relative;
  right: 17vw;
}











