.label {
   color: rgb(244, 19, 15);
   font-size: 4vw;
   
}

.form {
   width: fit-content;
}

h1 {
   color:lightgray;
   font-size: 4vw;
  position: relative;
  top: 8vh;
}

/* labels and input boxes container */
.containerParent{
   display: grid;
   justify-content: center;
}

/* input boxes width */
.input{
   width: 50vw; 
}

/* Both submit and cancel buttons */
.submitAndCancelButtons{
   display: flex;
   justify-content: space-around;
   position:relative;
   top: 4vh;
}

.submitButton{
  padding: 3%;
  width: 130%;
}

.cancelButton{
   padding: 3%;
   width: 130%;
}

.image {

   font-size: 3vw;
   background-image: url("images/newHomeImage.png");
   background-repeat: no-repeat;
   background-position: center center;

   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;

   height: 100vh;
}


body {
   background-color: rgb(40, 2, 23);
}








