.label {
   color: yellow;
   position: relative;
   top: 4vh;
   left: -27vw;
}

.form {
   width: fit-content;
   position: relative;
   top: 18vh;
   left: 25vw;
}

h1 {
   color:lightgray;
   font-size: 5vw;
   position: relative;
   right: 30%;
}

/* labels and input boxes container */
.containerParent{
   position: relative;
}

/* input boxes width */
.input{
   width: 60vw; 
}

/* Both submit and cancel buttons */
.submitAndCancelButtons{
   display: flex;
   justify-content: space-around;
   position: relative;
   top: 3vh;
   left: -13vw;
}

body {
   background-color: rgb(9, 82, 30);
   font-size: 4vw;
   position: relative;
   left: 10vw;
}

.submitButton{
   font-size: 4vw;
}

.cancelButton{
   font-size: 4vw;
}











/* thead {
    background-image: linear-gradient(rgb(188, 183, 183), rgb(5, 5, 0), rgb(119, 122, 119));
    color: yellow;
}

.actionButtons{
   display: grid;
   grid-template-columns: 40% 20%;
   gap: 2px;
}

#actionEdit{
   font-size: 2vw;
    padding: 8px 5px;
}

#actionEdit:hover{
   background-image: linear-gradient(rgb(15, 1, 1), rgb(9, 149, 30), rgb(15, 16, 15));
}

#actionDelete{
    font-size: 2vw;
   padding: 8px 5px;
}
#actionDelete:hover{
   background-image: linear-gradient(rgb(15, 1, 1), rgb(233, 20, 37), rgb(15, 16, 15));
}

.cancelButton{
   font-size: 2vw;
   display: grid;
   grid-column-end: auto;
}

.cancelButton:hover{
   background-image: linear-gradient(rgb(15, 1, 1), rgb(24, 54, 224), rgb(15, 16, 15));
}

.accounts{
   display: flex;
   align-content: center;
   margin: 0 auto;
}

.editSubmitButtons {
   display: flex;
   justify-content: right;
 }

 body {
   background-color: bisque;
   font-size: 2vw;
   margin: 0 5vw 0 5vw;
}
  */



/* #tableHead{
   background-color: aqua;
   font-size: 3vw;
   display: flex;
   justify-content: space-around
} */
/* Table head */
/* #tableHead tr th{
  padding: 30px;
} */






/* .table-hover:hover{
background-color: rgb(152, 189, 189);   
} */


/* .input {
   font-size: 2vw;
   /* display: grid;
   grid-template-rows: auto auto auto auto auto auto;
   grid-area: 20px; */
/* display: flex;
   align-content: space-between;
}  */

/* .body {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {
    body {
       margin: 0 auto;
        background-color: rgb(86, 96, 145);
    }
} */