/* Style h1 */
h1 {
    font-size: 2.5vw;
    text-align: center;
    color: rgb(233, 200, 5);
    position: relative;
    top: 10vh;
}

/* Style email label */
#emailLabel{
    transform: translateX(-13.5vw);
}

/* Style labels */
.label {
    color: rgb(236, 153, 3);
    margin: 0% 0rem 0rem -10rem;
    transform: translateX(6.7vw);
}


#passwordField {
    display: flex;
    align-items: center;
    width: 60vw;
    display: grid;
    justify-content: center;
}

/* Style submit button */
.submitButton {
    font-size: 1.5vw;
}

/* Style cancel button */
.cancelButton {
    font-size: 1.5vw;
}

/* Style both submit and cancel buttons */
.submitAndCancelButtons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    transform: translateY(20vh);
}

#email, #password {
    width: 40vw;
}

.image {
    background-image: url("images/newHomeImage.png");
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.containerParent {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

/* container for forgot email and password */
#forgotContainer{
    display: grid;
    justify-content: center;
    transform: translateY(20vh);
}

body {
    font-size: 1.5vw;
    background-color: rgb(54, 46, 7);
}