/* Source: https://stackoverflow.com/questions/42415141/what-is-the-media-query-for-large-desktops */

/* Mobile devices */



/* For 4K display */

@media screen and (max-width: 3840px) {

    /* the 2 h1 */
    .header {
        color: rgba(52, 52, 237, 0.983);
        transform: translateY(-15vh);
    }

    .h1 {
        font-size: 4vw;
        text-align: center;
        padding: 0vh 1vw;
        margin: 15rem 3rem 0rem 3rem;
        display: flex;
        justify-content: center;
        transform: translateY(-3vh);
    }

    .h2 {
        font-size: 3vw;
        text-align: center;
        padding: 0vh 4vw;
        transform: translateY(-3vh);
    }

    .signUp {
        font-size: 2.5vw;
        display: flex;
        justify-content: center;
        position: relative;
        margin: 0rem 30vw;
    }

    /* Already signed up link */
    .signIn {
        display: flex;
        justify-content: center;
    }


    /* Already signed up link and he sign up button */
    .signUpAndIn {
        font-size: 2.5vw;
        transform: translateY(-2vh);
    }


    .image {
        background-image: url("images/newHomeImage.png");
        background-repeat: no-repeat;
        background-position: center center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
    }

    body {
        font-size: 1.4vw;
        background-color: rgb(166, 112, 41);
    }
}



/* For Projector */

@media screen and (max-width: 1920px) {

    /* the 2 h1 */
    .header {
        color: rgba(52, 52, 237, 0.983);
        transform: translateY(-16vh);
    }

    .h1 {
        font-size: 3vw;
        text-align: center;
        padding: 0vh 1vw;
        margin: 15rem 3rem 0rem 3rem;
        display: flex;
        justify-content: center;
        transform: translateY(-18vhvh);
    }

    .h2 {
        font-size: 2.5vw;
        text-align: center;
        padding: 0vh 4vw;
        transform: translateY(-3vh);
    }

    .signUp {
        font-size: 2.5vw;
        display: flex;
        justify-content: center;
        position: relative;
        margin: 0rem 30vw;
    }

    /* Already signed up link */
    .signIn {
        display: flex;
        justify-content: center;
    }


    /* Already signed up link and he sign up button */
    .signUpAndIn {
        font-size: 2.5vw;
        transform: translateY(-8vh);
    }


    .image {
        background-image: url("images/newHomeImage.png");
        background-repeat: no-repeat;
        background-position: center center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
    }

    body {
        font-size: 1.4vw;
        background-color: rgb(166, 112, 41);
    }
}



@media screen and (max-width: 1280px) {

    /* the 2 h1 */
    .header {
        color: rgba(52, 52, 237, 0.983);
        transform: translateY(-19vh);
    }

    .h1 {
        font-size: 5vw;
        text-align: center;
        padding: 0vh 1vw;
        margin: 15rem 3rem 0rem 3rem;
        display: flex;
        justify-content: center;
        transform: translateY(-3vh);
    }

    .h2 {
        font-size: 4vw;
        text-align: center;
        padding: 0vh 4vw;
        transform: translateY(-3vh);
    }

    .signUp {
        font-size: 4vw;
        display: flex;
        justify-content: center;
        position: relative;
        margin: 0rem 30vw;
    }

    /* Already signed up link */
    .signIn {
        display: flex;
        justify-content: center;
    }


    /* Already signed up link and he sign up button */
    .signUpAndIn {
        font-size: 4vw;
        transform: translateY(-5vh);
    }


    .image {
        background-image: url("images/newHomeImage.png");
        background-repeat: no-repeat;
        background-position: center center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
    }

    body {
        font-size: 1.4vw;
        background-color: rgb(166, 112, 41);
    }
}



/* For large laptops */

@media screen and (max-width: 992px) {

    /* the 2 h1 */
    .header {
        color: rgba(52, 52, 237, 0.983);
        transform: translateY(-15vh);
    }

    .h1 {
        font-size: 6vw;
        text-align: center;
        padding: 0vh 1vw;
        margin: 15rem 3rem 0rem 3rem;
        display: flex;
        justify-content: center;
        transform: translateY(-3vh);
    }

    .h2 {
        font-size: 4vw;
        text-align: center;
        padding: 0vh 4vw;
        transform: translateY(-3vh);
    }

    .signUp {
        font-size: 4vw;
        display: flex;
        justify-content: center;
        position: relative;
        margin: 0rem 30vw;
    }

    /* Already signed up link */
    .signIn {
        display: flex;
        justify-content: center;
    }


    /* Already signed up link and he sign up button */
    .signUpAndIn {
        font-size: 4vw;
       transform: translateY(-8vh);
    }


    .image {
        background-image: url("images/newHomeImage.png");
        background-repeat: no-repeat;
        background-position: center center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
    }

    body {
        font-size: 1.4vw;
        background-color: rgb(166, 112, 41);
    }
}




/* iPads, Tablets */

@media screen and (max-width: 768px) {

    /* the 2 h1 */
    .header {
        color: rgba(52, 52, 237, 0.983);
        transform: translateY(-17vh);
    }

    .h1 {
        font-size: 6vw;
        text-align: center;
        padding: 0vh 1vw;
        margin: 15rem 3rem 0rem 3rem;
        display: flex;
        justify-content: center;
        transform: translateY(-3vh);
    }

    .h2 {
        font-size: 4vw;
        text-align: center;
        padding: 0vh 4vw;
        transform: translateY(-3vh);
    }

    .signUp {
        font-size: 4vw;
        display: flex;
        justify-content: center;
        position: relative;
        margin: 0rem 30vw;
    }

    /* Already signed up link */
    .signIn {
        display: flex;
        justify-content: center;
    }


    /* Already signed up link and he sign up button */
    .signUpAndIn {
        font-size: 4vw;
        transform: translateY(-10vh);
    }


    .image {
        background-image: url("images/newHomeImage.png");
        background-repeat: no-repeat;
        background-position: center center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
    }

    body {
        font-size: 1.4vw;
        background-color: rgb(166, 112, 41);
    }
}




@media screen and (max-width: 480px) {

    /* the 2 h1 */
    .header {
        color: rgba(52, 52, 237, 0.983);
        transform: translateY(-12vh);
    }

    .h1 {
        font-size: 6vw;
        text-align: center;
        padding: 0vh 1vw;
        margin: 15rem 3rem 0rem 3rem;
        display: flex;
        justify-content: center;
        transform: translateY(-3vh);
    }

    .h2 {
        font-size: 4vw;
        text-align: center;
        padding: 0vh 4vw;
        transform: translateY(-3vh);
    }


    .signUp {
        background-color: rgba(229, 204, 93, 0.983);
        color: rgba(12, 10, 1, 0.983);
        font-size: 2vw;
        display: flex;
        justify-content: center;
        position: relative;
        margin: 0rem 30vw;

    }

    /* Already signed up link */
    .signIn {
        display: flex;
        justify-content: center;
    }

    /* Already signed up link and he sign up button */
    .signUpAndIn {
        font-size: 4vw;
        position: relative;
        top: -10vh;
    }

    .image {
        background-image: url("images/newHomeImage.png");
        background-repeat: no-repeat;
        background-position: center center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
    }

    body {
        font-size: 1.4vw;
        background-color: rgb(166, 112, 41);
    }
}






