
.h1{
font-size: 5vw;
margin: 10rem 3rem 0rem 3rem;
display: flex;
justify-content: center;
}

.h2{
    font-size: 4vw;
    text-align: center;
    }

.signUp{
    font-size: 3vw;
    display: flex;
    justify-content: center;
    position: relative;
    top: 15rem;
    margin: 0rem 40vw;
}

.signIn{
    display: flex;
    justify-content: center;
    position: relative;
    top: 17rem;
}

body {
    font-size: 3vw;
    background-color: rgb(161, 128, 98);
    margin: 0rem 0rem 0rem 0rem;
}