h1{
    font-size: 5vw;
    text-align: center;
    color: rgb(234, 200, 5);
    position: relative;
    margin-bottom: 4rem;
}

.submitAndCancelButtons {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    margin-left: 2rem;
}

.input{
    margin: 0 1rem;
    /* margin: 1rem; */
}

.submit{
    font-size: 3vw;
   
}

.cancel{
    font-size: 3vw;
    margin: 0 1rem; 
}

.label{
    color:rgb(246, 153, 3);
    margin: 0% 0rem 0rem 1rem;
}

.eye{
    color: rgb(183, 148, 67);
    display: flex;
    justify-content: right;
    margin: -5vh -7vw 0vh 0vw;
}

.submitButton{
    font-size: 4vw;
}

.cancelButton{
    font-size: 4vw;
}

.submitAndCancelButtons{
    display: grid;
    justify-content: center;
    row-gap: 2rem;
    margin-top: 4rem;
}

#email, #password{
    width: 70vw;
}

body {
    font-size: 4vw;
    background-color: rgb(98, 92, 88);
    display: grid;
    justify-content: center;
    position: relative;
   top: 6rem;
}
