/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {


    /* h1 */
    h1 {
        font-size: 12vw;
        text-align: center;
        color: rgb(252, 247, 247);
        transform: translateY(-10vh);
    }

    /* input boxes */
    .input {
        border-radius: 10vw;
        padding-left: 2vw;
    }

    /* Submit button */
    .submit {
        border-radius: 10vw;
        font-size: 5vw
    }

    /* Cancel button */
    .cancel {
        border-radius: 10vw;
        font-size: 5vw;
        margin: 0 5vw
    }

    /* Labels */
    .label {
        font-size: 8vw;
        color: rgb(242, 246, 3);
        transform: translateX(-0.2vw);
    }

    /* center all elements in the body */
    .inputParent {
        font-size: 8vw;
        display: grid;
        align-items: center;
    }


    /* Style all question mark icons */
    .questionMark {
        font-size: 8vw;
        color: rgb(242, 246, 3);
        transform: translate(92vw, -7.5vh);
    }

    /* Gap btween first and middle name */
    #fName {
        margin-bottom: -4vh;
    }

    #mName {
        margin-bottom: 4vh;
    }

    /* Gap between middle and last name */
    #lName {
        margin-bottom: -4vh;
    }

    #email {
        margin-bottom: -4vh;
    }

    .inputBox {
        font-size: 5vw;
        width: 90vw;
        margin-bottom: -5vw;
    }

    /* Submit and cancel buttons */
    .submitAndCancelButtons {
        transform: translateY(8vh);
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    /* Blink the error message by changing the color from yellow to red */
    @keyframes errorMsg {
        from {
            color: yellow;
        }

        to {
            color: red;
        }
    }

    /* Format the error message */
    #error {
        font-size: 5vw;
        color: yellow;
        animation: errorMsg;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        text-align: center;
        position: relative;
        top: 2vh;
        position: relative;
        z-index: -1;
    }

    #hint {
        text-align: center;
        font-size: 5vw;
        padding-top: 2vh;
        color: yellow;
    }

    .signUpContainer {
       position: relative;
       left: 55vw;
       top: 30vh;

    }


    /* Backgrounf image */
    .image {
        background-image: url("images/newHomeImage.png");
        background-repeat: no-repeat;
        background-position: center center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    

    /* Both forgot eamail and password */
    body {
        background-image: radial-gradient(circle at center, rgb(4, 44, 10) 0, rgb(2, 22, 4), green 100%)
    }

}




/* Small devices (portait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {


    /* h1 */
    h1 {
        font-size: 12vw;
        text-align: center;
        color: rgb(252, 247, 247);
        transform: translateY(-10vh);
    }

    /* input boxes */
    .input {
        border-radius: 10vw;
        padding-left: 2vw;
    }

    /* Submit button */
    .submit {
        border-radius: 10vw;
        font-size: 5vw
    }

    /* Cancel button */
    .cancel {
        border-radius: 10vw;
        font-size: 5vw;
        margin: 0 5vw
    }

    /* Labels */
    .label {
        font-size: 8vw;
        color: rgb(242, 246, 3);
        transform: translateX(-0.2vw);
    }

    /* center all elements in the body */
    .inputParent {
        font-size: 8vw;
        display: grid;
        align-items: center;
    }

    /* Style all question mark icons */
    .questionMark {
        font-size: 8vw;
        color: rgb(242, 246, 3);
        transform: translate(92vw, -7.5vh);
    }

    /* Gap btween first and middle name */
    #fName {
        margin-bottom: -4vh;
    }

    #mName {
        margin-bottom: 4vh;
    }

    /* Gap between middle and last name */
    #lName {
        margin-bottom: -4vh;
    }

    #email {
        margin-bottom: -4vh;
    }

    .inputBox {
        font-size: 5vw;
        width: 90vw;
        margin-bottom: -5vw;
    }

    /* Submit and cancel buttons */
    .submitAndCancelButtons {
        transform: translateY(8vh);
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    /* Blink the error message by changing the color from yellow to red */
    @keyframes errorMsg {
        from {
            color: yellow;
        }

        to {
            color: red;
        }
    }

    /* Format the error message */
    #error {
        font-size: 5vw;
        color: yellow;
        animation: errorMsg;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        text-align: center;
        position: relative;
        top: 2vh;
        position: relative;
        z-index: -1;
    }

    #hint {
        text-align: center;
        font-size: 5vw;
        padding-top: 2vh;
        color: yellow;
    }

    .signUpContainer {
       position: relative;
       left: 55vw;
       top: 30vh;

    }


    /* Backgrounf image */
    .image {
        background-image: url("images/newHomeImage.png");
        background-repeat: no-repeat;
        background-position: center center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    

    /* Both forgot eamail and password */
    body {
        background-image: radial-gradient(circle at center, rgb(4, 44, 10) 0, rgb(2, 22, 4), green 100%)
    }

}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {


    /* h1 */
    h1 {
        font-size: 10vw;
        text-align: center;
        color: rgb(252, 247, 247);
        transform: translateY(-10vh);
    }

    /* input boxes */
    .input {
        border-radius: 10vw;
        padding-left: 2vw;
    }

    /* Submit button */
    .submit {
        border-radius: 10vw;
        font-size: 5vw
    }

    /* Cancel button */
    .cancel {
        border-radius: 10vw;
        font-size: 5vw;
        margin: 0 5vw
    }

    /* Labels */
    .label {
        font-size: 5vw;
        color: rgb(242, 246, 3);
        transform: translateX(-0.2vw);
    }

    /* center all elements in the body */
    .inputParent {
        font-size: 8vw;
        display: grid;
        align-items: center;
    }

    /* Style all question mark icons */
    .questionMark {
        font-size: 7vw;
        color: rgb(242, 246, 3);
        transform: translate(92vw, -7.5vh);
    }

    /* Gap btween first and middle name */
    #fName {
        margin-bottom: -4vh;
    }

    #mName {
        margin-bottom: 4vh;
    }

    /* Gap between middle and last name */
    #lName {
        margin-bottom: -4vh;
    }

    #email {
        margin-bottom: -4vh;
    }

    .inputBox {
        font-size: 5vw;
        width: 90vw;
        margin-bottom: -5vw;
    }

    /* Submit and cancel buttons */
    .submitAndCancelButtons {
        transform: translateY(8vh);
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    /* Blink the error message by changing the color from yellow to red */
    @keyframes errorMsg {
        from {
            color: yellow;
        }

        to {
            color: red;
        }
    }

    /* Format the error message */
    #error {
        font-size: 5vw;
        color: yellow;
        animation: errorMsg;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        text-align: center;
        position: relative;
        top: 2vh;
        position: relative;
        z-index: -1;
    }

    #hint {
        text-align: center;
        font-size: 5vw;
        padding-top: 2vh;
        color: yellow;
    }

    .signUpContainer {
       position: relative;
       left: 58vw;
       top: 30vh;

    }


    /* Backgrounf image */
    .image {
        background-image: url("images/newHomeImage.png");
        background-repeat: no-repeat;
        background-position: center center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    

    /* Both forgot eamail and password */
    body {
        background-image: radial-gradient(circle at center, rgb(4, 44, 10) 0, rgb(2, 22, 4), green 100%)
    }

}




/* Large devices (Laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

   
    /* h1 */
    h1 {
        font-size: 8vw;
        text-align: center;
        color: rgb(252, 247, 247);
        transform: translateY(-10vh);
    }

    /* input boxes */
    .input {
        border-radius: 10vw;
        padding-left: 2vw;
    }

    /* Submit button */
    .submit {
        border-radius: 10vw;
        font-size: 5vw
    }

    /* Cancel button */
    .cancel {
        border-radius: 10vw;
        font-size: 5vw;
        margin: 0 5vw
    }

    /* Labels */
    .label {
        font-size: 5vw;
        color: rgb(242, 246, 3);
        transform: translateX(-0.2vw);
    }

    /* center all elements in the body */
    .inputParent {
        font-size: 8vw;
        display: grid;
        align-items: center;
    }

    /* Style all question mark icons */
    .questionMark {
        font-size: 7vw;
        color: rgb(242, 246, 3);
        transform: translate(92vw, -9.5vh);
    }

    /* Gap btween first and middle name */
    #fName {
        margin-bottom: -6vw;
    }

    #mName {
        margin-bottom: 4vh;
    }

    /* Gap between middle and last name */
    #lName {
        margin-bottom: -6vw;
    }

    #email {
        margin-bottom: -6vw;
    }

    .inputBox {
        font-size: 5vw;
        width: 90vw;
        margin-bottom: -5vw;
    }

    /* Submit and cancel buttons */
    .submitAndCancelButtons {
        transform: translateY(8vh);
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    /* Blink the error message by changing the color from yellow to red */
    @keyframes errorMsg {
        from {
            color: yellow;
        }

        to {
            color: red;
        }
    }

    /* Format the error message */
    #error {
        font-size: 5vw;
        color: yellow;
        animation: errorMsg;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        text-align: center;
        position: relative;
        top: 2vh;
        position: relative;
        z-index: -1;
    }

    #hint {
        text-align: center;
        font-size: 5vw;
        padding-top: 2vh;
        color: yellow;
    }

    .signUpContainer {
       position: relative;
       left: 58vw;
       top: 30vh;

    }


    /* Backgrounf image */
    .image {
        background-image: url("images/newHomeImage.png");
        background-repeat: no-repeat;
        background-position: center center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    

    /* Both forgot eamail and password */
    body {
        background-image: radial-gradient(circle at center, rgb(4, 44, 10) 0, rgb(2, 22, 4), green 100%)
    }

}




/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

     /* h1 */
     h1 {
        font-size: 7vw;
        text-align: center;
        color: rgb(252, 247, 247);
        transform: translateY(-2vh);
    }

    /* input boxes */
    .input {
        border-radius: 10vw;
        padding-left: 2vw;
    }

    /* Submit button */
    .submit {
        border-radius: 10vw;
        font-size: 4vw
    }

    /* Cancel button */
    .cancel {
        border-radius: 10vw;
        font-size: 4vw;
        margin: 0 5vw
    }

    /* Labels */
    .label {
        font-size: 4.5vw;
        color: rgb(242, 246, 3);
        transform: translateX(-0.2vw);
    }

    /* center all elements in the body */
    .inputParent {
        font-size: 8vw;
        display: grid;
        align-items: center;
    }

    /* Style all question mark icons */
    .questionMark {
        font-size: 5vw;
        color: rgb(242, 246, 3);
        transform: translate(92vw, -9.5vh);
    }

    /* Gap btween first and middle name */
    #fName {
        margin-bottom: -6vw;
    }

    #mName {
        margin-bottom: 4vh;
    }

    /* Gap between middle and last name */
    #lName {
        margin-bottom: -6vw;
    }

    #email {
        margin-bottom: -6vw;
    }

    .inputBox {
        font-size: 4vw;
        width: 90vw;
        margin-bottom: -5vw;
    }

    /* Submit and cancel buttons */
    .submitAndCancelButtons {
        transform: translateY(8vh);
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    /* Blink the error message by changing the color from yellow to red */
    @keyframes errorMsg {
        from {
            color: yellow;
        }

        to {
            color: red;
        }
    }

    /* Format the error message */
    #error {
        font-size: 5vw;
        color: yellow;
        animation: errorMsg;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        text-align: center;
        position: relative;
        top: 2vh;
        position: relative;
        z-index: -1;
    }

    #hint {
        text-align: center;
        font-size: 5vw;
        padding-top: 2vh;
        color: yellow;
    }

    .signUpContainer {
       position: relative;
       left: 58vw;
       top: 30vh;

    }


    /* Backgrounf image */
    .image {
        background-image: url("images/newHomeImage.png");
        background-repeat: no-repeat;
        background-position: center center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    

    /* Both forgot eamail and password */
    body {
        background-image: radial-gradient(circle at center, rgb(4, 44, 10) 0, rgb(2, 22, 4), green 100%)
    }

}


/* For Big TV's (HD Screens */
@media only screen and (max-width: 1280px) {

/* h1 */
h1 {
    font-size: 7vw;
    text-align: center;
    color: rgb(252, 247, 247);
    transform: translateY(-2vh);
}

/* input boxes */
.input {
    border-radius: 10vw;
    padding-left: 2vw;
}

/* Submit button */
.submit {
    border-radius: 10vw;
    font-size: 4vw
}

/* Cancel button */
.cancel {
    border-radius: 10vw;
    font-size: 4vw;
    margin: 0 5vw
}

/* Labels */
.label {
    font-size: 4.5vw;
    color: rgb(242, 246, 3);
    transform: translateX(-0.2vw);
}

/* center all elements in the body */
.inputParent {
    font-size: 8vw;
    display: grid;
    align-items: center;
}

/* Style all question mark icons */
.questionMark {
    font-size: 5vw;
    color: rgb(242, 246, 3);
    transform: translate(92vw, -9.5vh);
}

/* Gap btween first and middle name */
#fName {
    margin-bottom: -6vw;
}

#mName {
    margin-bottom: 4vh;
}

/* Gap between middle and last name */
#lName {
    margin-bottom: -6vw;
}

#email {
    margin-bottom: -6vw;
}

.inputBox {
    font-size: 4vw;
    width: 90vw;
    margin-bottom: -5vw;
}

/* Submit and cancel buttons */
.submitAndCancelButtons {
    transform: translateY(8vh);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Blink the error message by changing the color from yellow to red */
@keyframes errorMsg {
    from {
        color: yellow;
    }

    to {
        color: red;
    }
}

/* Format the error message */
#error {
    font-size: 5vw;
    color: yellow;
    animation: errorMsg;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    text-align: center;
    position: relative;
    top: 2vh;
    position: relative;
    z-index: -1;
}

#hint {
    text-align: center;
    font-size: 5vw;
    padding-top: 2vh;
    color: yellow;
}

.signUpContainer {
   position: relative;
   left: 58vw;
   top: 30vh;

}


/* Backgrounf image */
.image {
    background-image: url("images/newHomeImage.png");
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


/* Both forgot eamail and password */
body {
    background-image: radial-gradient(circle at center, rgb(4, 44, 10) 0, rgb(2, 22, 4), green 100%)
}

}



/* For Projector */
@media screen and (max-width: 1920px) {

/* h1 */
h1 {
    font-size: 4vw;
    text-align: center;
    color: rgb(252, 247, 247);
    transform: translate(-10vw, -10vh);
}

/* input boxes */
.input {
    border-radius: 10vw;
    padding-left: 2vw;
}

/* Submit button */
.submit {
    border-radius: 10vw;
    font-size: 2vw
}

/* Cancel button */
.cancel {
    border-radius: 10vw;
    font-size: 2vw;
    margin: 0 5vw
}

/* Labels */
.label {
    font-size: 2.5vw;
    color: rgb(242, 246, 3);
    transform: translateX(-0.2vw);
}

/* center all elements in the body */
.inputParent {
    display: grid;
    align-items: center;
}

/* Style all question mark icons */
.questionMark {
    font-size: 3vw;
    color: rgb(242, 246, 3);
    transform: translate(51vw, -9vh);
}

/* Gap btween first and middle name */
#fName {
    margin-bottom: -3vw;
}

#mName {
    margin-bottom: 4vh;
}

/* Gap between middle and last name */
#lName {
    margin-bottom: -3vw;
}

#email {
    margin-bottom: -3vw;
}

.inputBox {
    font-size: 2vw;
    width: 50vw;
    margin-bottom: -5vw;
}

/* Submit and cancel buttons */
.submitAndCancelButtons {
    transform: translate(-6vw, 8vh);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Blink the error message by changing the color from yellow to red */
@keyframes errorMsg {
    from {
        color: yellow;
    }

    to {
        color: red;
    }
}

/* Format the error message */
#error {
    font-size: 2.5vw;
    color: yellow;
    animation: errorMsg;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    text-align: center;
    position: relative;
    top: -5vh;
    left: -7vw;
    z-index: -1;
}

#hint {
    text-align: center;
    font-size: 3vw;
    padding-top: 2vh;
    color: yellow;
}

.signUpContainer {
   position: relative;
   left: 58vw;
   top: 22vh;

}


/* Backgrounf image */
.image {
    background-image: url("images/newHomeImage.png");
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


/* Both forgot eamail and password */
body {
    background-image: radial-gradient(circle at center, rgb(4, 44, 10) 0, rgb(2, 22, 4), green 100%)
}

}



/* For 4K display */
@media screen and (max-width: 3840px) {

/* h1 */
h1 {
    font-size: 1.5vw;
    text-align: center;
    color: rgb(252, 247, 247);
    transform: translate(-7vw, -5vh);
}

/* input boxes */
.input {
    border-radius: 10vw;
    padding-left: 2vw;
}

/* Submit button */
.submit {
    border-radius: 10vw;
    font-size: 1vw
}

/* Cancel button */
.cancel {
    border-radius: 10vw;
    font-size: 1vw;
    margin: 0 5vw
}

/* Labels */
.label {
    font-size: 1vw;
    color: rgb(242, 246, 3);
    transform: translateX(0.2vw);
}

/* center all elements in the body */
.inputParent {
    display: grid;
    align-items: center;
}

/* Style all question mark icons */
.questionMark {
    font-size: 1vw;
    color: rgb(242, 246, 3);
    transform: translate(20.4vw, -4vh);
}

/* Gap btween first and middle name */
#fName {
    margin-bottom: -1vw;
}

#mName {
    margin-bottom: 2vh;
}

/* Gap between middle and last name */
#lName {
    margin-bottom: -1vw;
}

#email {
    margin-bottom: -1vw;
}

.inputBox {
    font-size: 1vw;
    width: 20vw;
    margin-bottom: -5vw;
    padding-left: 1vw;
}

/* Submit and cancel buttons */
.submitAndCancelButtons {
    transform: translate(2vw, -1vh);
    display: flex;
    flex-direction: row;
    justify-content: center;
    transform: translate(3vw, 5vh);
}

/* Blink the error message by changing the color from yellow to red */
@keyframes errorMsg {
    from {
        color: yellow;
    }

    to {
        color: red;
    }
}

/* Format the error message */
#error {
    font-size: 1vw;
    color: yellow;
    animation: errorMsg;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    text-align: center;
    position: relative;
    top: -2vh;
    left: -6vw;
    z-index: -1;
}

#hint {
    text-align: center;
    font-size: 1vw;
    padding-top: -1vh;
    margin-top: -2vh;
    color: yellow;
    position: relative;
    left: -7vw;
}

.signUpContainer {
  transform: translate(-55vw, -15vh);
}


/* Backgrounf image */
.image {
    background-image: url("images/newHomeImage.png");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  
}

.bodyContainer{
    display: grid;
    justify-content: center;
    transform: translateX(7vw);
}


/* Both forgot eamail and password */
body {
    background-image: radial-gradient(circle at center, rgb(4, 44, 10) 0, rgb(2, 22, 4), green 100%)
}

}