.submitAndCancelButtons {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    margin-left: 2rem;
}

.input{
    margin: 0 1rem;
    /* margin: 1rem; */
}

.submit{
    font-size: 3vw;
   
}

.cancel{
    font-size: 3vw;
    margin: 0 1rem; 
}

.inputParent{
    margin-top: 5rem;
}

.label{
    color:rgb(6, 240, 240);
    margin: 0% 0rem 0rem 0.5rem;
}

body {
    font-size: 3vw;
    background-color: rgb(70, 84, 84);
    margin: 0rem  2.5rem  0rem  0.5rem;
}
