h1{
    text-align: center;
    color: white;
    position: relative;
    top: -5vh;
}

.submitAndCancelButtons {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    margin-left: 2rem;
}

.input{
    margin: 0 1rem;
    /* margin: 1rem; */
}

.submit{
    font-size: 3vw;
   
}

.cancel{
    font-size: 3vw;
    margin: 0 1rem; 
}

.label{
    color:rgb(6, 240, 240);
    margin: 0% 0rem 0rem 0.5rem;
}

.inputParent{
    position: relative;
    top: -15vh
}

.image {

    background-image: url("images/newHomeImage.png");
    background-repeat: no-repeat;
    background-position: center center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 100vh;
}

body {
    font-size: 3vw;
    background-image: radial-gradient(circle at center, rgb(4, 34, 10) 0, rgb(2, 22, 4), green 100%)
   
}
