h1 {
    font-size: 5vw;
    text-align: center;
    color: rgb(233, 200, 5);
}


.input {
    margin: 0 1rem;
}

.label {
    color: rgb(236, 153, 3);
    margin: 0% 0rem 0rem 1rem;
}

.eye {
    color: rgb(183, 138, 67);
    display: flex;
    justify-content: right;
    position: relative;
    left: 7vw;
    top: -4vh;
}

.submitButton {
    font-size: 3vw;
}

.cancelButton {
    font-size: 3vw;
}

.submitAndCancelButtons {
    display: grid;
    justify-content: center;
    row-gap: 2rem;

    position: relative;
    margin-top: 15vh;
}

#email, #password {
    width: 70vw;
}

.image {

    background-image: url("images/newHomeImage.png");
    background-repeat: no-repeat;
    background-position: center center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 100vh;
}

.container{
    position: relative;
    margin-top: 7vh;
}

.containerParent{
    position: relative;
    margin-top: 25vh; 
}

body {
    font-size: 3vw;
    background-color: rgb(98, 92, 88);
}